@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-spotify-green {
    background-color: #1DB954;
  }

  @layer
  components {
    .sidebar-icon  {
      @apply relative flex items-center justify-center h-12 w-12 mt-1 mx-auto shadow-lg bg-transparent hover:text-green-600;
    }
  }

  body {
   background-color: black;
  }